<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Cadastro Profissional</title>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-primary bg-light">
		<a class="navbar-brand"> 
			<img src="/img/logo.png" width="50" class="d-inline-block align-top" alt="" loading="lazy">
		</a>
		
		<div class="collapse navbar-collapse text-dark" id="navbarText" navbar>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/rankingProfi" role="button">Melhores Profissionais</a>
				</li>
				<form class="form-inline" method="post" th:object="${usuarioLogado}">
					<li class="nav-item active">
						<a class="nav-link" th:href="|/adm/alterarUser?id=*{codigo}|" role="button">Alterar conta</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-primary" role="button" data-toggle="modal" data-target="#exampleModalCenter" style="cursor:pointer;">Desativar conta</a>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle">Desativar conta?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									
									<div class="modal-body">Tem certeza que deseja desativar sua conta? A operação não poderá ser revertida!</div>
									
									<div class="modal-footer">
										<a type="button" class="btn btn-secondary text-light btn-sm" data-dismiss="modal">Cancelar</a>
										<a type="button" th:href="|/adm/DesativarUser?id=*{codigo}|" 
											class="btn btn-primary btn-sm active text-light" role="button"
											aria-pressed="true">Sim, prosseguir
										</a>
									</div>
								
								</div>
							</div>
						</div>

					</li>
				</form>
			</ul>
			
			<form class="mr-3" method="post" th:object="${usuarioLogado}">
				Olá, <span th:text="*{login}" id="exampleFormControlSelect1"></span>
			</form>
			
			<a class="btn btn-danger" href="/sair" role="button">Sair</a>
		</div>
	</nav>
	

	<div class="container">

		<div class="text-center">
			<img src="/img/logo.png" width="300" height="300" alt="logo Prestasim">
		</div>
		<h1  class="text-center" style="color: #115571;">Cadastro de Profissionais</h1>

		<form class="p-2 mb-5 rounded text-white" action="/adm/salvarProfi" method="post" th:object="${profi}" style="background-color: #32AFB4;">
			<div class="form-group">
				<input type="hidden" name="login" th:value="${usuarioLogado.codigo}">
			
				<input type="hidden" th:field="*{id}">
				<label for="exampleFormControlSelect1">Nome</label>
				<input class="form-control" th:field="*{nome}" id="exampleFormControlSelect1" type="text" required>
				<label for="exampleFormControlSelect2">Email</label>
				<input class="form-control" th:field="*{email}" id="exampleFormControlSelect2" type="email" required>
				<label for="exampleFormControlSelect3">Telefone</label>
				<input class="form-control" th:field="*{telefone}" id="exampleFormControlSelect3" type="text" required>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect3">Selecione o tipo de serviço</label>
				<select class="form-control" th:field="*{tipoServico}" id="exampleFormControlSelect3">
					<option th:each="tserv : ${lista_Tiposervico}" th:value="${tserv.id}" th:text="${tserv.nome}"></option>
				</select>
			</div>
			<div class="text-danger" th:text="${classErrorFunc}"></div>
			<button type="submit" class="btn btn-success">Enviar</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>