<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<title>Lista de Solicitações</title>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-primary bg-light">
		<a class="navbar-brand"> 
			<img src="/img/logo.png" width="50" class="d-inline-block align-top" alt="" loading="lazy">
		</a>
		
		<div class="collapse navbar-collapse text-dark" id="navbarText" navbar>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/rankingProfi" role="button">Melhores Profissionais</a>
				</li>
				<form class="form-inline" method="post" th:object="${usuarioLogado}">
					<li class="nav-item active">
						<a class="nav-link" th:href="|/adm/alterarUser?id=*{codigo}|" role="button">Alterar conta</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link text-primary" role="button" data-toggle="modal" data-target="#exampleModalCenter" style="cursor:pointer;">Desativar conta</a>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalCenterTitle">Desativar conta?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									
									<div class="modal-body">Tem certeza que deseja desativar sua conta? A operação não poderá ser revertida!</div>
									
									<div class="modal-footer">
										<a type="button" class="btn btn-secondary text-light btn-sm" data-dismiss="modal">Cancelar</a>
										<a type="button" th:href="|/adm/DesativarUser?id=*{codigo}|" 
											class="btn btn-primary btn-sm active text-light" role="button"
											aria-pressed="true">Sim, prosseguir
										</a>
									</div>
								
								</div>
							</div>
						</div>

					</li>
				</form>
			</ul>
			
			<form class="mr-3" method="post" th:object="${usuarioLogado}">
				Olá, <span th:text="*{login}" id="exampleFormControlSelect1"></span>
			</form>
			
			<a class="btn btn-danger" href="/sair" role="button">Sair</a>
		</div>
	</nav>

	<div class="container">
		<div class="text-center">
			<img src="/img/logo.png" width="300" height="300"
				alt="logo Prestasim">
		</div>
		<h1 class="text-center" style="color: #115571;">
			Lista de Solicitações
		</h1>

	</div>

	<div th:text="${classErrorS}" class="text-danger text-center"></div>
	<div class="container p-3 text-center">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nome do Solicitante</th>
					<th scope="col">Profissional</th>
					<th scope="col">Data do Pedido</th>
					<th scope="col">Descrição</th>
					<th scope="col">Ações</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="solicit : ${lista_Solicitacao}">
					<td th:text="${solicit.id}"></td>
					<td th:text="${solicit.nomeSolicitante}"></td>
					<td th:text="${solicit.profissional.nome}"></td>
					<td th:text="${solicit.data}"></td>
					<td th:text="${solicit.descricaoPedido}"></td>
					<td><a th:href="|/adm/alterarSolicitacao?id=${solicit.id}&user=${usuarioLogado.codigo}|">Alterar</a>
					   /<a th:href="|/adm/excluirSolicitacao?id=${solicit.id}&user=${usuarioLogado.codigo}|">Excluir</a>
					</td>
					<td>
						<a class="btn btn-info btn-sm active" role="button" aria-pressed="true" 
						th:href="|/adm/finalizarSolicitacao?id=${solicit.id}&user=${usuarioLogado.codigo}|">Finalizar</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>